<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Calculator</title>
    <link rel="stylesheet" type="text/css"href="{{ url_for('static', filename='style.css') }}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <div class="bgg">
      <div class="container">
        <h1 class="text-center"> Marks Calculator </h1><br>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <form class="form-horizontal" method="post">
              <div class="form-group">
                <label class="control-label col-xs-3" for="var_1">Number of study hours</label>

                <div class="col-xs-7">
                  <input type="number" step="0.01" class="form-control" name="var_1" value={{entered_value1 }} placeholder="&nbsp;0&nbsp;">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-xs-3">Operation</label>
                <div class="col-xs-7">
                  <select class="form-control" name="operation" value={{entered_value2}} >
                    <option selected hidden value="">--Choose--</option>
                    <option value="Daily">Daily</option>
                    <option value="Weekly">Weekly</option>
                  </select>
                  
                 
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-offset-3 col-xs-9">
                  <input class="example_a" type="submit"style="cursor: pointer"name="Button"/>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-xs-3">Predicted Marks</label>
                <div class="col-xs-7">
                  <input type="text" name="result"class="form-control"value={{entry}}>
                </div>
              </div>
            </form>
            <div class="output">
              {% if entry %}
                 Predicted Marks for <b>{{ entered_value1 }}</b> hours {{entered_value2}} is : <b>{{ entry }} %</b>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="copy">&copy;Samrat Patra</div>
      </div>
    </div>
  </body>
</html>
